{% extends 'dashboard/baseDash.html' %} 

        {% for client in clients %}
            <li>
                <strong>{{ client.name }}</strong><br>
                Address: {{ client.address }}<br>
                Phone: {{ client.phone }}<br>
                Email: {{ client.email }}<br>
                Notes: {{ client.notes }}<br>
                Files Uploaded:<br>
                <ul>
                    {% for file in client.files.all %}
                        <li>{{ file.file_path }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_client' %}">Create New Client</a>
</body>
</html>
