{% extends 'base.html' %}

<!--Title on tab browser -->
{%block title%}Login{%endblock title%}

{% block sidebar-content %}
<a href="{%url 'home'%}" class="btn btn-secondary">Home<a/>
{% endblock sidebar-content %}

<!=== Page content ===>
{%block content%}

<div class="container mt-5" id="card-login">
    <div class="card p-3 login-border">
        <span class="text-center mt-3 text-pulse"><strong>RESTRICTED ACCESS</strong></span>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input-group mb-2 mt-4">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="input-group mb-2">
                <input type="current-password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" onclick="myFunction()" type="checkbox" style="float: right;">
            </div>
            <div class="d-grid gap-2 mt-3">
                <input class="btn btn-success btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter">
            </div>
        </form>
        <center class="mt-5 mb-5">
            <i class="bx bx-abacus bx-rotate-270 mt-2 mb2" style= "color grey; font-size: 150px;"></i> 
        </center>
        
    </div>
</div> <!=== END // container ===>
{%endblock content%}