{% extends 'base.html' %}

<!== Page content ==>
{% block content %}

<!=== Typed effect ===>
<div class="block-position">
    <h1 class="text-light typed-text">We
        <span id="element" style="color: #8abaae;"></span>
    </h1>
</div>

<!=== Message ===>
<div>
    <button style="background-color: #5ca08e;" class="btn text-light pulse" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-envelope fa-2x"></i>
    </button>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp; Message
                </h5>  
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="#" autocomplete="off" class="was-validated" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-1">
                        <input type="text" class="form-control" name="name" maxlength="40" placeholder="Name" required>
                    </div>
                        <div class="mb-1">
                            <input type="text" class="form-control phone" name="phone" placeholder="Phone" required>
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" name="email" maxlength="40" placeholder="Email" required>
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" name="subject" maxlength="25" placeholder="Subject" required>
                        </div>  
                        <hr>
                        <div class="form-group mb-2">
                            <textarea class="form-control" name="message" id="message" rows="10" maxlength="1000" required placeholder="Your message..."></textarea>
                        </div>
                        <!--Character remaining counter-->
                        <span id="remaining"></span>
                        <hr>
                        <div class="form-group mb-3">
                            <input class="form-control" type="file" name="file">
                        </div>
                        <h6 class="text-danger" style="font-size: 12px;"> Note: for more than one file use:
                            <strong class="text-success">rar</strong>or<strong class="text-success">zip</strong>. 
                        </h6>
                        <hr>
                        <div class="d-grid gap 2 mb-3 mt-3">
                            <button class="btn text-light" type="sumbmit" style="background-color: #2e856e;"> Send message &nbsp;&nbsp;
                                <i class="fas fa-paper-plane"><i>
                            </button>
                        </div>
                </div>
                <!--Input Hidden (all messages arrive as pending)-->
                <input type ="hidden" value="Pending" name="status">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    